@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

:root {
  --primary-color: #0ea5e9;
  --light-color: #67e8f9;
  --white-color: #f0f9ff;
}

body {
  font-family: "Abril Fatface", cursive;
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  /* width: 100%; */
}

.nav-container {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.nav-container .name {
  text-align: left;
}

.nav-container ul {
  list-style: none;
  text-align: right;
  margin: 0.6rem 1rem;
}

.nav-container ul li {
  display: inline;
  padding: 0 0.5rem;
}

.nav-container a {
  text-decoration: none;
  color: inherit;
}

.hero-section {
  padding: 2rem;
}

.hero-section img {
  max-width: 80%;
  margin: auto;
}

.hero-section .hero-heading {
  padding-top: 1rem;
  color: var(--light-color);
}

.hero-section .hero-heading span {
  font-style: italic;
  color: var(--primary-color);
}

section {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
}

section p {
  padding-bottom: 1rem;
}

section .project-link {
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
}

section .blog-link {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.wc {
  background-color: var(--white-color);
}

/** footer section **/

footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

footer a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: inherit;
}

footer h2 {
  color: white;
}

/** Projects Page **/

.project-container {
  text-align: center;
  padding: 1rem 1rem;
}

.project-container span {
  color: var(--primary-color);
}

.proj-page-link {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: var(--primary-color);
}

.proj-page-link-1 {
  text-decoration: none;
  color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
}

h2 {
  color: var(--primary-color);
}